*{
  padding:0;
  margin:0
}
div,article{
  display:block;
}
body{
  padding:20px;
}

.box{
  padding:20px;
  background-color:#eee;
  border:1px solid #999;
}
img{
  width:80px;
  height:80px;
}
#main{
  min-width:600px;
}
#left{
  width:160px;
  background-color:#fff;
  float:left;
  
}
#middle{
  background-color:#fff;
  margin-left:220px;
  margin-right:140px;
}
#right{
  width:80px;/*总宽度是padding+width*/
  float:right;
  background-color:#fff;
}
.box::before, .box::after {
    content:"";
    display:table;
}
.box::after {
    clear:both;
}
.box {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

.clearfix{
  clear:both;
}
  
